html
html
   head
      title Form Tester
   body
      form(action = "/person", method = "POST")
         div
            label(for = "say") Name:
            input(name = "name" value = "Nabeel")
         br
         div
            label(for = "to") Age:
            input(name = "age" value = "26")
         br
         div
            label(for = "to") To:
            input(name = "nationality" value = "pk")
         br
         button(type = "submit") Send my greetings