footer.text-muted.py-5
  .container
    p.float-end.mb-1
      a(href='#') Back to top
    p.mb-1 Album example is &copy; Bootstrap, but please download and customize it for yourself!
    p.mb-0
      | New to Bootstrap? 
      a(href='/') Visit the homepage
      |  or read our 
      a(href='https://getbootstrap.com/docs/5.0/getting-started/introduction/') getting started guide
      | .
script(src='https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
